DEEPSEEK_LLM_API_KEY=""
DEEPSEEK_LLM_BASE_URL="https://api.deepseek.com"

SILICONFLOW_LLM_API_KEY=""
SILICONFLOW_LLM_BASE_URL="https://api.siliconflow.cn/v1"

MINIMAX_LLM_API_KEY=""

OPENAI_API_KEY=""
OPENAI_API_BASE_URL="https://api.openai.com/v1"

IMAGE_API_KEY=""
IMAGE_BASE_URL="https://api.openai.com/v1"

GITHUB_WEBHOOK_SECRET=""
GITHUB_TOKEN=""

TELEGRAM_BOT_TOKEN=""
TELEGRAM_PROXY=""

MILKY_ACCESS_TOKEN=""
